/*******************
TESTING TOOLS
********************/

/* .b {
    border: 5px solid red;
} */

/* .l {
    text-align: center;
    padding: 30px;
} */



/*******************
GENERAL
********************/

.background {
    /* background: url("../img/background_cross.png") no-repeat; */
    background-size: 100%;
    background-color: #000000;
}

p {
    color: #00FF51;
}

a {
    color: #00FF51;
}



/*******************
HEADING
********************/

.main-header {
    text-align: center;
    margin-bottom: auto;
}

.dot {
    float: left;
    height: 150px;
    width: 150px;
    background-color: #000000;
    border-radius: 50%;
    margin-left: 5%;
}

h1 {
    color: #000000;
    font-size: 80px;
}

.generate {
   float: right;
   width: 40%;
}



/*******************
NAVIGATION
********************/

.nav {
    display: inline-block;
    font-size: x-large;
    padding: 30px;
    margin: 0 auto;
}

.nav ul {
    list-style-type: none;
    margin: auto;
    padding: 0;
}

.nav ul li {
    display: inline;
   }



/*******************
MAIN CONTENT
********************/

.mainC {
    display: flex;
    margin: auto;
    padding: 0 5%;
    flex-wrap: wrap;
}

#gallery {
    margin: auto;
    padding: 10px;
    list-style: none;
}
  
#gallery li {
    width: 40%;    
    background-color: grey;
    color: #00FF51;
    border-radius: 10px;
    margin: 5%;
    float: left;
    box-sizing: border-box;
}

#gallery li a {
    text-decoration: none;
    margin: auto;
       
}

#gallery li a p {
    margin: 0;
    padding: 5%;
    font-size: 30px;
    color: #00FF51;
}

.mainC img {
    max-width: 100%;
}



/*******************
FOOTER
********************/

.main-footer {
    margin-top: auto;
} 



/*******************
RESPONSIVE
********************/

@media screen and (min-width: 480px) {
    .background {
        background: linear-gradient(to bottom, #55e883 0%, #000000 30%);
    }
}

@media screen and (max-width: 480px) {
    #gallery li {
        width: 90%;
        margin: 5%;
    }

    h1 {
        color: #55e883;
    }

    .dot {
        background-color: #55e883;
        float: none;
        margin: 5%;
        display: inline-block;
    }

    .generate {
        float: none;
        margin: auto;
    }
}


/*******************
IDEAS
********************/

/* On mouse-over, add a deeper shadow */
.hover:hover {
    box-shadow: 0 8px 16px 0 white;
}
  





/* .parallax { 
    
    background-image: url("../img/grayscale_cross.jpg");
    
    
    height: 500px; 
    
    
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
} */